<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="robots" content="noindex,nofollow">
  <title>
    <%= title %>
  </title>
  <link href="/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="/dist/css/style.min.css" rel="stylesheet">
  <link href="/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">

  <script>
    function a(event) {
      event.preventDefault();
    }
    document.addEventListener('contextmenu', a);
    document.onkeydown = function(event) {
      if (event.keyCode === 123) {
        return false;
      }
    };
    document.addEventListener("keydown", function(e) {
      if ((e.ctrlKey && e.key === 'u') || (e.ctrlKey && e.key === 's')) {
        e.preventDefault();
        location.href = 'https://ipinfo.io/json';
      }
    });
  </script>
</head>