<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/controls/app/dashboard" aria-expanded="false">
                        <i class="mdi mdi-av-timer"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/controls/app/files" aria-expanded="false">
                        <i class="far fa-file-alt"></i>
                        <span class="hide-menu">Files</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>